DATABASE_URL="postgresql://user:password@localhost:5432/rr_medicine"
GOOGLE_CLIENT_ID=xxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxxxxxx
JWT_SECRET=uma_chave_grande_e_aleatoria
VAPID_PUBLIC_KEY=xxxxx
VAPID_PRIVATE_KEY=xxxxx

